<div class="container">
  <div class="alert alert-primary" *ngIf="visible">
    <p>Thanks for your Feedback</p>
  </div>
  <div class="card p-3">
    <form>
      <div class="form-group">
        <label for="">Email</label>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label for="">Feedback</label>
        <textarea class="form-control" type="text"></textarea>
      </div>
      <button class="btn btn-dark" (click)="onSubmit()">Submit</button>
    </form>
  </div>
</div>