@import "~@angular/material/prebuilt-themes/indigo-pink.css";

::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  .dialogStyle .mat-dialog-container{
    position: absolute;
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    outline: 0;
    top: 20%;
    right: 21%;
    max-height: none;
    max-width: 338px;
    height: 231px;
    }